@font-face {
	font-family: 'Abel-Regular';
	src: url('../fonts/Abel-Regular.eot');
	src: local('☺'), url('../fonts/Abel-Regular.woff') format('woff'), url('../fonts/Abel-Regular.ttf') format('truetype'), url('../fonts/Abel-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Cabin-Regular';
	src: url('../fonts/Cabin-Regular.eot');
	src: local('☺'), url('../fonts/Cabin-Regular.woff') format('woff'), url('../fonts/Cabin-Regular.ttf') format('truetype'), url('../fonts/Cabin-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*body*/
body {
	min-width: 960px;
	margin: 0;
	background-color:#ffffff;
}
.area {
	width: 960px;
	margin: 0 auto;
}
img {
	border: 0;
}

/*------------------------------ Sprites ------------------------------*/
#navigation, #navigation li.selected a, #navigation li a:hover {
	background-color: #000000 no-repeat;	
}

#connect a  {
	background: url(../images/icons.png) no-repeat;
}
/*------------------------------ HEADER ------------------------------*/

#header {
	background: #99ff66 repeat-x left top;
	height: 200px;
	border-top:24px solid;
	border-top-color:#000000;    /*Black*/
	border-bottom:12px solid; 
    border-bottom-color:#6633ff; /* Violet */
	text-align: left;
	}
	
/** logo **/
#logo {
	float: left;
	margin: 20px -130px 0;
}

/** name **//
#name {
	float: center;
	margin: 30px -25px 0; 
	}
/**track**/
#track {
	height:500px;
}
#consign {
	float: right;
	margin:-10px -180px 0;
}	
/*background**/
#back {
	margin: -5px 0 -500px;
}
#slide {
	margin: 85px 0 0;
	}
/** navigation **/
#navigation {
	background-position: -5px -4px;
	display: inline-block;
	height: 48px;
	list-style: none;
	width: 960px;
	margin: 55px -150px 0;
	padding: -30px 30px;
	text-transform:uppercase;
}
#navigation li {
	float: left;
	width: 124px;
	font: 16px/40px Aharoni, Trebuchet MS, Helvetica;
	margin: 0;
	text-align: center;
	
}
#navigation li a {
	color: #ffffff;
	display: block;
	height: 50px;
	width: 124px;
}
#navigation li.selected a, #navigation li a:hover {
	background-position: left top;
	background-color: #6633ff;
	border-radius:10px;
	color: #ffffff;
}
	
/*------------------------------ BODY ------------------------------*/
/** tracking**/
#customers
{
	font: 18px/24px Trebuchet MS, Helvetica, sans-serif;
	width:50%;
	margin:50px 150px 0;
	border-collapse:collapse;
}
#customers td, #customers th 
{
	border:1px solid #6633ff;
	padding:3px 7px 2px 7px;
}
#customers th 
{
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#6633ff;
	color:#ffffff;
}
/** Home page**/
#start {
	color: #000000;
	font: 18px/24px Trebuchet MS, Helvetica, sans-serif;
	padding: 0 0 1px;
	margin: 20px 50px 0;
	height:500px;
}
#aside {
	border-top:24px solid;
	border-left:2px solid;
	border-right:2px solid;
	border-bottom:2px solid;
	border-color:#6633ff;
	border-radius:10px;
	float:right;
	color: #000000;
	font: 20px/24px Trebuchet MS, Times New Roman, Helvetica;
	padding: 0 0 1px;
	margin:-300px 50px 0;
	width:480px;
	height:200px;
}
#news {
	height:500px;
	font: 20px/24px Arial, Helvetica, sans-serif;
}	
h1 {
	color: #00ffff;
	font: 24px/24px 'Abel-Regular';
	letter-spacing: 1px;
	margin: 0 0 6px;
	text-transform: uppercase;
}
h2, h3 {
	color: #000000;
	font: 24px/24px 'Abel-Regular';
	letter-spacing: 1px;
	margin: 0 0 1px;
	text-transform: uppercase;
}
h2 span {
	color: #fc6700;
}
h3 {
	font-size: 20px;
	margin: 50px;
	text-transform: none;
}
p {
	color: #000000;
	font: 18px/24px Trebuchet MS, Times New Roman, sans-serif;
	padding: 0 0 1px;
	margin: 0 50px 0;
}
p a {
	color: #9b8d84;
}
h3 a:hover, p a:hover {
	color: #f1aa00;
}

h5 {
	color: #ffffff;
	font:20px/24px Trebuchet MS, Times New Roman;
	float: center;
	margin: -22px 48px 0;
}

h6 {
	color: #000000;
	font:18px/24px Times New Roman, Trebuchet MS, Helvetica;
	float: right;
	margin: -42px 30px 0;
}

/** About page **/
#about {
	letter-spacing: 1px;
	padding-bottom: 12px;
	color: #000000;
	margin:550px 50px 0;
	height:1020px;
}

#about .mission {
	border-top:28px solid;
	border-left:2px solid;
	border-right:2px solid;
	border-bottom:2px solid;
	border-color:#6633ff;
	border-radius:10px;
	float:left;
	color: #000000;
	font: 20px/24px Trebuchet MS, Times New Roman, Helvetica, sans-serif;
	text-align:center;
	padding: 0 0 1px;
	margin:-490px 450px 0;
	width:480px;
	height:110px;
	padding-bottom: 42px;
}

#about .vision {
	border-top:28px solid;
	border-left:2px solid;
	border-right:2px solid;
	border-bottom:2px solid;
	border-color:#6633ff;
	border-radius:10px;
	float:left;
	color: #000000;
	font: 20px/24px Trebuchet MS, Times New Roman, sans-serif;
	text-align:center;
	padding: 0 0 1px;
	margin:-175px 450px 0;
	width:540px;
	height:110px;
	padding-bottom: 42px;
}

#about .theme {
	border-top:28px solid;
	border-left:2px solid;
	border-right:2px solid;
	border-bottom:2px solid;
	border-color:#6633ff;
	border-radius:10px;
	float:left;
	color: #000000;
	font: 18px/24px Trebuchet MS, Times New Roman, sans-serif;
	padding: 0 0 1px;
	margin:100px 300px 0;
	width:800px;
	height:100px;
	padding-bottom: 42px;
}

#about .load {
	margin:15px 140px 0;
}
#about .road {
	margin:100px 140px 0;
}
/** services page**/
#services {
	margin:550px 200px 0;
	height:700px;
}

#services .list {
	border-top:28px solid;
	border-left:2px solid;
	border-right:2px solid;
	border-bottom:2px solid;
	border-color:#6633ff;
	border-radius:10px;
	width:700px;
	margin:-175px 150px 0;
	color: #000000;
	font: 20px/24px Trebuchet MS, Times New Roman, sans-serif;
	padding: 0 0 1px;
}

#services .box {
	margin:30px -150px 0;
}

#services .handtruck {
	margin:-150px 875px 0;
}

#services .store {
	margin:70px -150px 0;
}

#services .report {
	margin:-150px 875px 0;
}

/** benefits **/
#services .benefits {
	border-top:28px solid;
	border-left:2px solid;
	border-right:2px solid;
	border-bottom:2px solid;
	border-color:#6633ff;
	border-radius:10px;
	width:800px;
	margin:-275px 50px 0;
	color: #000000;
	font: 20px/24px Trebuchet MS, Times New Roman, sans-serif;
	padding: 0 0 1px;
}
/** transport **/
#transport {
	margin:-50px 0 0;
	height: 600px;
}

#sub {
	margin:-60px 550px 0;
}

#transport .mtruck {
	margin:10px 140px 0;
}

#transport .train {
	margin:-215px 760px 0;
}

#transport .ship {
	margin:5px 140px 0;
}

#transport .plane {
	margin:-225px 760px 0;
}

/** careers page**/
#careers {
	height:600px;
	margin:550px 50px 0;
	color: #000000;
	font: 18px/24px Trebuchet MS, Times New Roman, sans-serif;
	padding: 0 0 1px;
}

/** contact page**/
#contact {
	height:700px;
	margin:120px 50px 0;
}

/** client login**/
#login {
	color: #000000;
	font: 18px/24px Trebuchet MS, Times New Roman, sans-serif;
	padding: 0 0 1px;
	width:600px;
	margin:0 auto 0;
	height:350px;
}

/**registration page**/
#register {
	color: #000000;
	font: 18px/24px Times New Roman, Helvetica, sans-serif;
	padding: 0 0 1px;
	width:600px;
	margin:0 auto 0;
	height:400px;
}

/**new password**/
#newpassword {
	height:350px;
	color: #000000;
	font: 18px/24px Times New Roman, Helvetica, sans-serif;
	padding: 0 0 1px;
	width:600px;
	margin:0 auto 0;
}




/*------------------------------ FOOTER ------------------------------*/
#footer {
	background: #000000;
	display: inline-block;
	width: 100%;
	padding: 30px 0;
	border-top:4px solid;
	border-top-style:#330000;    /*Black*/
	height:100px;
}


#footer p {
	color: #ffffff;
	font: 14px/24px Arial, Helvetica, sans-serif;
	margin: 50px -10px;
	}
#connect {
	float: right;
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#connect a {
	float: left;
	display: inline-block;
	height: 30px;
	width: 30px;
	margin: 0 10px;
}
#connect a.facebook {
	background-position: -5px -4px;
}

#connect a.googleplus {
	background-position: -5px -86px;
}
#connect a.contact {
	background-position: -5px -120px;
}

#connect a.linkedin {
	background-position: -5px -44px;
}

